:root {
    --text-color: #0a0a0a;
    --davida-font: 'Davida', sans-serif;
    --green-color: #80C41C;
    --blue-color: #4E85B7;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #979797;
    display: flex;
    justify-content: space-between;
}
.header-container p{
    font-size: 28px;
    font-weight: 800;
    
    padding: 10px 2px;
}
.menu-container{
    display: flex;
}
.menu-container-left{
    /* width: 30%; */
}
.menu-container-right{
    /* width: 70%; */
}
.menu-container-left{
    background-color: rgb(188, 255, 199);
}